In [1]:
import pandas as pd

In [8]:
dat = pd.read_csv("seoul_public_toilet.csv" , engine ='python', encoding='EUCKR')
dat

      POI ID            대명칭      중명칭  ...   WSG84Y좌표      등록일자      수정일자
0     102423        우성스포츠센터  민간개방화장실  ...  37.492386  20100712  20100712
1     102424          프레곤빌딩  민간개방화장실  ...  37.486127  20100712  20100712
2     102425           하림빌딩  민간개방화장실  ...  37.494283  20100712  20100712
3     102426          크레신타워  민간개방화장실  ...  37.518195  20100712  20100712
4     102483         한주실업빌딩  민간개방화장실  ...  37.513501  20100712  20100712
...      ...            ...      ...  ...        ...       ...       ...
4933  A10008  전국모범운전자연합양천지회  민간개방화장실  ...  37.512379  20110506  20110506
4934  A10009           세림빌딩  민간개방화장실  ...  37.516104  20110506  20110506
4935  A10010         신목동주유소  민간개방화장실  ...  37.519586  20110506  20110506
4936  A10011          등원주유소  민간개방화장실  ...  37.539597  20110506  20110506
4937  A10012         신양천주유소  민간개방화장실  ...  37.515829  20110506  20110506

[4938 rows x 10 columns]

In [9]:
dat.columns

Index(['POI ID', '대명칭', '중명칭', '소명칭', '중앙좌표X1', '중앙좌표Y1', 'WSG84X좌표',
       'WSG84Y좌표', '등록일자', '수정일자'],
      dtype='object')

In [11]:
dat_tmp = dat.loc[ :, ['대명칭', 'WSG84Y좌표', 'WSG84X좌표' ]   ]
dat_tmp

                대명칭   WSG84Y좌표    WSG84X좌표
0           우성스포츠센터  37.492386  126.909832
1             프레곤빌딩  37.486127  126.904575
2              하림빌딩  37.494283  127.016646
3             크레신타워  37.518195  127.018478
4            한주실업빌딩  37.513501  126.943960
...             ...        ...         ...
4933  전국모범운전자연합양천지회  37.512379  126.865623
4934           세림빌딩  37.516104  126.861066
4935         신목동주유소  37.519586  126.871060
4936          등원주유소  37.539597  126.874561
4937         신양천주유소  37.515829  126.863465

[4938 rows x 3 columns]

In [12]:
import folium

In [15]:
# 중앙 위치 찾기
dat_tmp.columns = ['name', 'latitude', 'longitude']
print( dat_tmp.latitude.mean(), dat_tmp.longitude.mean() )
dat_tmp.head()

37.54478573028457 126.98281813570502

      name   latitude   longitude
0  우성스포츠센터  37.492386  126.909832
1    프레곤빌딩  37.486127  126.904575
2     하림빌딩  37.494283  127.016646
3    크레신타워  37.518195  127.018478
4   한주실업빌딩  37.513501  126.943960

In [16]:
m = folium.Map(location = [37.5447, 126.9828], zoom_start=10)
m

In [33]:
### 200개 만 얻기
dat_200 = dat_tmp.iloc[0:200, :]
dat_200

          name   latitude   longitude
0      우성스포츠센터  37.492386  126.909832
1        프레곤빌딩  37.486127  126.904575
2         하림빌딩  37.494283  127.016646
3        크레신타워  37.518195  127.018478
4       한주실업빌딩  37.513501  126.943960
..         ...        ...         ...
195   나들이공중화장실  37.571836  126.844277
196    수궁동주민센터  37.493950  126.831472
197   꽃동네공중화장실  37.570206  126.847085
198  온수근린공원화장실  37.660927  127.064176
199    실로암안과병원  37.546186  126.861944

[200 rows x 3 columns]

In [35]:
size = dat_200.name.count()
print(size)   # 크기

print(dat_200.columns)

200
Index(['name', 'latitude', 'longitude'], dtype='object')

In [36]:
import time

In [38]:
# %%time
now = time.time()

m = folium.Map(location = [37.5447, 126.9828], zoom_start=13)

for i in range(size):
  folium.Marker(location= [ dat_200.loc[i, 'latitude']  , dat_200.loc[i, 'longitude'] ] ,
                tooltip= dat_200.loc[i, 'name']  ,
          ).add_to(m)

work_time = time.time() - now
m.save("seoul_data.html")
print( work_time )
# m

0.026201486587524414

In [37]:
# %%time
now = time.time()

m = folium.Map(location = [37.5447, 126.9828], zoom_start=13)

for i in range(size):
  folium.Marker(location= [ dat_200.loc[i, 'latitude']  , dat_200.loc[i, 'longitude'] ] ,
                tooltip= dat_200.loc[i, 'name']  ,
             icon=folium.DivIcon(html=f"""<div style="font-family: courier new; color: blue">{dat_200.loc[i, 'name']}</div>""")
          ).add_to(m)

work_time = time.time() - now
m.save("seoul_data_c.html")
print( work_time )
# m

0.029722213745117188